<nav class="navbar navbar-expand-lg bg-light">
    <div class="container" style="background-color: rgb(201, 13, 13);">
        <a class="navbar-brand" href="#" style="color: rgb(7, 7, 7);">Acerca de</a>
        <a class="navbar-brand" href="#" style="color: rgb(0, 0, 0);">Pago de Recibo</a>
        <a class="navbar-brand" href="#" style="color: rgb(0, 0, 0);">Contactos</a>
    </div>
    
</nav>