<footer>
    <div class="container p-3 mb-2 bg-info text-dark">
        <center class="p-3 mb-2 bg-info text-dark">
            <footer>Compañia de Luz @derechos reservados 2023</footer>
        </center>
    </div>
</footer>