<!DOCTYPE html>
<html lang="en">

<%-include('partials/encabezado.html');%>
<%-include ('partials/navegacion.html'); %>
<%
kil=kilowatt;

if(tipo==1){
    kilowatt=kilos*1.08;
    costo=1.08;
    tipon="Domestico";
}if(tipo==2){
    kilowatt= kil*2.5;
    costo=2.5;
    tipon="Comercial";

}if(tipo==3){
    kilowatt= kil*3;
    costo=3;
    tipon="Industrial";

}
subtotal=kilowatt;
iva= subtotal*0.16;

if(kil <= 1000){
    descuento=0.1;
}else if(kil > 1000 && kil <= 10000){
    descuento=0.2;
}else if(kil > 10000){
    descuento=0.5;
}
descontado= subtotal*descuento;
total= subtotal+(parseInt(subtotal*0.16)-(subtotal*descuento));

%>
<body style="background-color: rgb(116, 134, 150);">
    <div class="container p-3 mb-2 bg-warning text-dark" >

        <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de servicio</th>
                <th scope="col">Kilowats</th>
                <th scope="col">Costo Kilowats</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" ><%=nombre%></th>
                <td><%=tipon%></td>
                <td><%=kil%></td>
                <td><%=costo%></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td>Subtotal:</td>
                <td><%=subtotal%></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td>Impuesto:</td>
                <td><%=iva%></td>
              </tr>
        
              <tr>
                <th scope="row"></th>
                <td></td>
                <td>Descuento: </td>
                <td><%=descontado%></td>
              </tr>
        
              <tr>
                <th scope="row"></th>
                <td></td>
                <td>Total a pagar: </td>
                <td><%=total%></td>
              </tr>
              
            </tbody>
          </table>
   

       
  

    </div>
    <%-include('partials/pie.html');%>

</body>



</html>